@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500&family=Raleway:wght@100;200;300;400;500&family=Roboto+Condensed:wght@300&display=swap');

.App {
    background: #ececec;
}

* {
    font-family: Manrope, serif;
}

.card {
    border-width: 0;
    border-radius: 8px;
    background: #fefefe;
}

.card-list:hover {
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(87, 87, 87, 0.2);
}

.content {
    min-height: calc(100vh - 170px);
}

.button-inline {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #ececec;
}

.button-outline {
    padding-bottom: 8px;
}

.main-page-bg {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/3pcFnnX/cq-GUk-Vff3t-NX9-Xm-F5-DEb-Yb6-Y02253-KL3r-UDr2z-N3-B7i-E7-X6k-Xcofp3-GDMLKDN-ETbco-CYaj-1-1.jpg");
    background-size: cover;
    background-position: center;

}